airflow-venv/
projects/day4_pipeline/output.json
# credentials
certificates/*.json
*.json.key
service-account*.json

# python cache
__pycache__/
*.pyc

# airflow logs
logs/

.env
venv/
__pycache__/
*.pyc

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
